﻿body {
  margin:0px;
  background-color:rgba(189, 195, 199, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1685px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:624px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:624px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:624px;
  opacity:0.2;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:624px;
}
#u3 {
  position:absolute;
  left:2px;
  top:304px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:535px;
  width:1000px;
  height:230px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:230px;
}
#u5 {
  position:absolute;
  left:2px;
  top:107px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  opacity:0.8;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:22px;
  width:153px;
  height:73px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1255px;
  top:220px;
  width:100px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1170px;
  top:45px;
  width:150px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1320px;
  top:45px;
  width:150px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1320px;
  top:95px;
  width:150px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1365px;
  top:220px;
  width:100px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1475px;
  top:220px;
  width:100px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1470px;
  top:45px;
  width:150px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1585px;
  top:220px;
  width:100px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:943px;
  top:20px;
  width:37px;
  height:16px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:843px;
  top:20px;
  width:76px;
  height:16px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:733px;
  top:20px;
  width:85px;
  height:16px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:309px;
  top:116px;
  width:382px;
  height:357px;
  opacity:0.8;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:357px;
}
#u33 {
  position:absolute;
  left:2px;
  top:170px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:325px;
  top:172px;
  width:49px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:325px;
  top:252px;
  width:51px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:325px;
  top:333px;
  width:24px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:505px;
  top:331px;
  width:96px;
  height:19px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:309px;
  top:116px;
  width:382px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:309px;
  top:137px;
  width:382px;
  height:19px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:19px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:325px;
  top:116px;
  width:350px;
  height:40px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u47 {
  position:absolute;
  left:0px;
  top:10px;
  width:350px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:325px;
  top:196px;
  width:350px;
  height:40px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u49 {
  position:absolute;
  left:40px;
  top:10px;
  width:310px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:325px;
  top:275px;
  width:350px;
  height:40px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u51 {
  position:absolute;
  left:40px;
  top:10px;
  width:310px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:325px;
  top:353px;
  width:170px;
  height:40px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u53 {
  position:absolute;
  left:40px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:505px;
  top:353px;
  width:170px;
  height:40px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u55 {
  position:absolute;
  left:40px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:325px;
  top:417px;
  width:350px;
  height:40px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u57 {
  position:absolute;
  left:16px;
  top:10px;
  width:334px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:517px;
  top:364px;
  width:16px;
  height:18px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:337px;
  top:364px;
  width:16px;
  height:18px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:337px;
  top:207px;
  width:15px;
  height:18px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:339px;
  top:286px;
  width:11px;
  height:18px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:533px;
  width:1000px;
  height:3px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:3px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:765px;
  width:1000px;
  height:200px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:200px;
}
#u69 {
  position:absolute;
  left:2px;
  top:92px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1251px;
  top:406px;
  width:44px;
  height:51px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:51px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1340px;
  top:406px;
  width:51px;
  height:51px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:1431px;
  top:406px;
  width:44px;
  height:51px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:51px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1154px;
  top:406px;
  width:51px;
  height:51px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1532px;
  top:406px;
  width:55px;
  height:51px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:51px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:164px;
  top:632px;
  width:170px;
  height:19px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:164px;
  top:662px;
  width:170px;
  height:48px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1625px;
  top:406px;
  width:51px;
  height:51px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:70px;
  top:632px;
  width:78px;
  height:78px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u87 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:72px;
  top:634px;
  width:74px;
  height:74px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u89 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:88px;
  top:651px;
  width:41px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:374px;
  top:634px;
  width:78px;
  height:78px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u93 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:376px;
  top:636px;
  width:74px;
  height:74px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u95 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:468px;
  top:632px;
  width:170px;
  height:19px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:468px;
  top:662px;
  width:170px;
  height:48px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:666px;
  top:628px;
  width:78px;
  height:78px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u101 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:668px;
  top:630px;
  width:74px;
  height:74px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u103 {
  position:absolute;
  left:2px;
  top:29px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:760px;
  top:632px;
  width:170px;
  height:19px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:760px;
  top:662px;
  width:170px;
  height:48px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:395px;
  top:653px;
  width:35px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:688px;
  top:647px;
  width:35px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:20px;
  top:566px;
  width:960px;
  height:24px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
  line-height:24px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:24px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:70px;
  top:794px;
  width:138px;
  height:138px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u115 {
  position:absolute;
  left:2px;
  top:61px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:108px;
  top:794px;
  width:61px;
  height:143px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:140px;
  color:#FFFFFF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:143px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:240px;
  top:804px;
  width:471px;
  height:38px;
  font-family:'Oswald Bold', 'Oswald';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:38px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:240px;
  top:858px;
  width:452px;
  height:57px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:57px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:790px;
  top:794px;
  width:79px;
  height:23px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:790px;
  top:824px;
  width:135px;
  height:40px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u125 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:785px;
  top:868px;
  width:145px;
  height:58px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:58px;
}
#u127 {
  position:absolute;
  left:2px;
  top:21px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
