﻿body {
  margin:0px;
  background-color:rgba(189, 195, 199, 1);
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:41px;
  top:23px;
  width:103px;
  height:38px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:41px;
  top:74px;
  width:57px;
  height:32px;
  font-family:'Oswald Light', 'Oswald';
  font-weight:300;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:41px;
  top:415px;
  width:489px;
  height:83px;
  font-family:'Arsenal Regular', 'Arsenal';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:83px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:41px;
  top:112px;
  width:489px;
  height:99px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:99px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:41px;
  top:223px;
  width:489px;
  height:99px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:99px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:41px;
  top:374px;
  width:91px;
  height:38px;
  font-family:'Roboto Condensed', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
