﻿body {
  margin:0px;
  background-color:rgba(189, 195, 199, 1);
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:72px;
  top:128px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u1 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:152px;
  top:128px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:232px;
  top:128px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:26px;
  width:221px;
  height:38px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:38px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:48px;
  top:82px;
  width:113px;
  height:32px;
  font-family:'Oswald Light', 'Oswald';
  font-weight:300;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:472px;
  top:304px;
  width:88px;
  height:64px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:72px;
  top:160px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:152px;
  top:160px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:232px;
  top:160px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:312px;
  top:160px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:72px;
  top:192px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:152px;
  top:192px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:232px;
  top:192px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:312px;
  top:192px;
  width:80px;
  height:32px;
  font-family:'Roboto Condensed Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:14px;
  top:166px;
  width:42px;
  height:19px;
  font-family:'Oswald Bold', 'Oswald';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:11px;
  top:198px;
  width:45px;
  height:19px;
  font-family:'Oswald Light', 'Oswald';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:11px;
  top:134px;
  width:45px;
  height:19px;
  font-family:'Oswald Light', 'Oswald';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
