﻿body {
  margin:0px;
  background-color:rgba(189, 195, 199, 1);
  background-image:none;
  position:static;
  left:auto;
  width:525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:65px;
  width:425px;
  height:205px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:205px;
}
#u1 {
  position:absolute;
  left:2px;
  top:94px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:325px;
  width:425px;
  height:205px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:205px;
}
#u3 {
  position:absolute;
  left:2px;
  top:94px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
